swagger: '2.0'
info:
  version: '1.0'
  title: Yelp V3 - Share
  description: 'TODO: Add Description'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT '
host: api.yelp.com
basePath: /
securityDefinitions:
  auth:
    type: oauth2
    flow: implicit
    authorizationUrl: ''
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /v3/businesses/search:
    get:
      description: ''
      summary: /businesses/search
      operationId: /businesses/search
      parameters:
        - name: term
          in: query
          required: true
          type: string
          description: ''
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests:
        - request:
            method: GET
            uri: >-
              /v3/businesses/search?term=delis&latitude=37.786882&longitude=-122.399972
            headers:
              Authorization: Bearer
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: /businesses/search
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v3/businesses/north-india-restaurant-san-francisco:
    get:
      description: ''
      summary: '/businesses/{id}'
      operationId: '/businesses/{id}'
      parameters:
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests:
        - request:
            method: GET
            uri: /v3/businesses/north-india-restaurant-san-francisco
            headers:
              Authorization: Bearer
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: '/businesses/{id}'
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v3/businesses/north-india-restaurant-san-francisco/reviews:
    get:
      description: ''
      summary: '/businesses/{id}/reviews'
      operationId: '/businesses/{id}/reviews'
      parameters:
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests:
        - request:
            method: GET
            uri: /v3/businesses/north-india-restaurant-san-francisco/reviews
            headers:
              Authorization: Bearer
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: '/businesses/{id}/reviews'
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /oauth2/token:
    post:
      description: ''
      summary: 'https://api.yelp.com/oauth2/token'
      operationId: 'https://api.yelp.com/oauth2/token'
      parameters:
        - name: client_id
          in: formData
          required: true
          type: string
          description: ''
        - name: client_secret
          in: formData
          required: true
          type: string
          description: ''
        - name: grant_type
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v3/autocomplete:
    get:
      description: ''
      summary: /autocomplete
      operationId: /autocomplete
      parameters:
        - name: text
          in: query
          required: true
          type: string
          description: ''
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests:
        - request:
            method: GET
            uri: /v3/autocomplete?text=del&latitude=37.786942&longitude=-122.399643
            headers:
              Authorization: Bearer
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: /autocomplete
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v3/businesses/search/phone:
    get:
      description: ''
      summary: /businesses/search/phone
      operationId: /businesses/search/phone
      parameters:
        - name: phone
          in: query
          required: true
          type: number
          format: double
          description: ''
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v3/transactions/delivery/search:
    get:
      description: ''
      summary: /transactions/search
      operationId: /transactions/search
      parameters:
        - $ref: '#/parameters/latitude'
        - $ref: '#/parameters/longitude'
        - $ref: '#/parameters/Authorization'
      responses:
        '200':
          description: ''
      security:
        - auth: []
      x-unitTests:
        - request:
            method: GET
            uri: >-
              /v3/transactions/delivery/search?latitude=37.786882&longitude=-122.399972
            headers:
              Authorization: Bearer
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: /transactions/search
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
parameters:
  latitude:
    name: latitude
    in: query
    required: true
    type: number
    format: double
  longitude:
    name: longitude
    in: query
    required: true
    type: number
    format: double
  Authorization:
    name: Authorization
    in: header
    required: true
    type: string
